@use "./setup";
@use "./colors" as *;
@use "./header";
@use "./general";
@use "./footer";

ul {
    display: flex;
}

.wrapper {
    width: 80%;
}


.getContent {
    display: flex;
    .contactUs {
        width: fit-content;
        margin: 0% 15%;
    }
}

form {
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    align-items: center;
    width: 40vw;
    padding: 8% 8% 8% 8%;
    background: $pine;
    .nameId {
      display: flex;
      gap:6%;
      margin-bottom: 6%;
    }
    textarea {
      resize:none;
      width: 40vw;
      height:15vw;
      border: 2px solid $sunYellow;
      background: $pine;
      color: $whiteR;
    }
    input[type=text]{
      border: none;
      border-bottom: 2px solid $sunYellow;
      width: 20vw;
      background: $pine;
      color: $whiteR;
    }
    input[type=email]{
      border: none;
      border-bottom: 2px solid $sunYellow;
      width: 20vw;
      background: $pine;
      color: $whiteR;
    }
    button {
      width: 95%;
      margin: 5% 0% 4% 0%;
      background-color: $sunYellow;
      padding: 15px 15px;
      font-size: 1.5rem;
      border: 0px;
    }
  }

.contactForm {
    margin-top: -40rem;
    padding-right: 1rem;
    background: $almostBlack;
    width: fit-content;
    box-shadow: 2.1rem 2.1rem $sunYellow;
    margin-right: 30rem;
}