@use "./setup";
@use "./colors" as *;

// <!-- FOOTER -->

footer {
    background: $blackR;
    color: $whiteR;
    margin: 0;
    text-align: center;
    font-size: large;
}

footer p {
    text-align: center;
    letter-spacing: 1px;
    margin: 0;
    line-height: 2.8rem;
    padding-block: 2rem;
}

// <!-- FOOTER END -->