@use "./setup";
@use "./colors" as *;

html {
    font-size: 62.5%;
/* basic font size = 10px */
}

.wrapper {
    width: min(80%,1500px);
    margin: 0 auto;
}

h1 {
    font-family: "Josefin Sans";
}

.upperNav {
    margin-top: 0;
    ul {
        padding-left: 1rem;
        padding-top: 5rem;
        margin: 0;
        display: flex;
        flex-direction: row;
        list-style: none;
        a {
            text-transform: capitalize;
            text-decoration: none;
            color: $whiteR;
            font-size: 2rem;
            font-weight: 550;
            background-color: transparent;
            &:hover {
                border-bottom: 2px solid $sunYellow;
            }
        }
    }
}

h1 {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    line-height: 6.9rem;
    color: $whiteR;
    font-family: "Josefin Sans";
    font-weight: 600;
    font-size: 6.9rem;
    margin: 0;
    p {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    span {
        background-color: $whiteR;
        color: $britGrey;
        width: fit-content;
        padding-top: 1rem;
    }
}

h2 {
    font-family: "Josefin Sans";
    font-size: 45px;
    color: $sunYellow;
    text-transform: uppercase;
    margin: 0;
}

p {
    font-family: "Barolow";
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 20px;
}

a {
    font-family: "Josefin Sans";
    line-height: 59px;
    font-size: 25px;
    letter-spacing: 0.8px;    
    text-transform: uppercase;
    color: $whiteR;
    text-decoration: none;
    background-color: $blackR;
    padding: 1.1rem;
    white-space: nowrap;
}

section {
    background: $pine;
    color: $whiteR;
    padding-block: 5rem;
}

header h1 {
    padding-block: 5rem;
    p { 
        font-size: 6rem;
        
    }
}