@use "./setup";
@use "./colors" as *;
@use "./header";
@use "./footer";
@use "./homePage";
@use "./blogPage";
@use "./contactPage";

@media screen and (max-width: 980px) {
    // "screen and" for use incase of legacy browsers 
    /* all of our styles for smaller DESKTOP devices will go within this breakpoint */
    // Not going to do anything with this right now 
    .infoCards ul {
        flex-direction: column;
        
        li {
            margin-bottom: 4rem;
            list-style: none;
            width: 100%;
        }
    }
    
}

@media (max-width: 800px) {
    /* all of our styles for TABLET devices will go within this breakpoint */
    // header {
    //     flex-direction: column;
    // }
    // body {
    //     flex-direction: column;
    //     align-items: center;
    //     img {
    //         flex-direction: column;
    //     }
    //     footer {
    //         width: 90%;
    //     }
    // }
    // section {
    //     flex-direction: column;
    // }
}

@media (max-width: 500px) {
    /* all of our styles for MOBILE devices will go within this breakpoint */
    // .navBar .wrapper {
    //     flex-direction: column;
    //     align-items: center;
    // }
    // .categoryGallery .items {
    //     width: 100%;
    // }
    // header .headerContent, header .headerImgContainer {
    //     width: 100%;
    // }
    // h3 {
    //     font-size: 1.3rem;
    //     line-height: 2rem;
    // }
}